#snippet-tags-container {
    display: flex;
    flex-direction: row;
    gap:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    min-height: 40px;
    max-height: fit-content;
    justify-content: space-between;

    width: 100%;
}

#snippet-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    width: 100%;
    overflow-x: auto;


    outline: none !important;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding: 5px;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
    font-weight: 300;
}
.snippet-tag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    user-select: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(181, 181, 181);
    border-radius: 5px;
    color: rgb(0, 0, 0);

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
}
.remove-snippet-tag {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    line-height: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(170, 170, 170);
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}.remove-snippet-tag:hover {
    background-color: rgb(190, 77, 77);
    cursor: pointer;
}
.add-tag-button {
    height: 40px;
    width: 100px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }