#snippet-tags-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 0px 0px 0px;
    justify-content: space-between;

    width: 100%;
}

#snippet-tags {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 5px;
    height: fit-content;
    width: 100%;
    overflow-x: auto;


    outline: none !important;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding: 5px;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
    font-weight: 300;
}
.snippet-tag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin-left: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 5px;
    color: rgb(0, 0, 0);

    font-family: Montserrat;
    font-weight: 300;
}
.remove-snippet-tag {
    height: 20px;
    width: 20px;
    line-height: 10px;
    margin-left: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(170, 170, 170);
    color: white;
    font-size: 10px;
    text-align: center;
}.remove-snippet-tag:hover {
    background-color: black;
    cursor: pointer;
}
.add-tag-button {
    position: sticky;
    right: 0px;
    height: 30px;
    width: 100px;
    background-color: rgb(189, 103, 103);
}

::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }