.default-select {
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    outline: none !important;

    margin: 10px;
    width: fit-content;
    padding: 5px 10px 5px 10px;

    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    line-height: 30px;
}