#save-modal-container {
    positioN: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.450);
    z-index: 3;
}
#save-modal {
    background-color: white;
    width: 600px;
    height: fit-content;
    max-height: 900px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    pointer-events: all;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    opacity: 100%;
}
#save-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 5px;
}
#save-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.save-modal-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

.save-modal .close-button{
    height: 30px;
    padding: 5px;
    margin-left: 20px;
    box-sizing: border-box;
    width: 50px;
    background-color: black;
    border: solid 2px white;
    color: white;
}
.save-modal-icon {
    width: 30px;
    height: 30px;
}
.save-modal-text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    text-align:center;
    line-height: 30px;
    margin: auto;
    margin-left: 20px;
    height: 30px;
}

.save-modal-heading {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}

.save-modal-select, .save-modal-input {
    height: 30px;
    margin-bottom: 20px;
    padding: 0;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    outline: none !important;

    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    line-height: 30px;
}

.save-modal-input {
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    height: fit-content;
}
.save-modal-select {
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    width: 25%;
}

#save-modal-color-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    height: fit-content;
}
.save-modal-color {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
} .save-modal-color:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.1s;
}
#save-modal-color-active {
    width: 45px;
    height: 45px;
    padding: 5px;
    border: solid 5px rgb(233, 233, 233);
    border-radius: 5px;
}

#save-modal-code {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
    max-height: 200px;
    height: fit-content;
    text-align:left;
    border-radius: 5px;
    white-space: pre-line;
    opacity: 50%;

    background-color: rgb(255, 255, 255);
    color: rgb(148, 148, 148);
    border: solid 1px rgb(192, 192, 192);

    font-family: Montserrat;
    overflow-y: auto;
}



.save-button {
    width: 100px;
}


.fade {
    animation: fade 0.2s ease-in;
}

@keyframes fade {
    0% { opacity: 0%; }
    25% { opacity: 25%; }
    50% { opacity: 50%; }
    75% { opacity: 75%; }
    100% { opacity: 100%; }
}

