#snippet-container {
    width: 50%;
    max-height: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
}

.snippet-container-heading {
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5px;
  color: grey;
  user-select: none;
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#snippets {
    display: flex;
    max-height: 700px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background: whitesmoke;

    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
}

.snippet {
    font-family: Montserrat;
    width: 98%;
    min-height: fit-content;
    margin: 5px;
    padding: 0px;
    border: solid 1px whitesmoke;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
    box-sizing: border-box;
    transition: 0.2s;
    flex-shrink: 0;
} .snippet:hover {

  transition: 0.2s;
  transform: scale(0.995);
  filter:saturate(75%);
}

.snippet button, .snippet button svg{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

.snippet-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.snippet-text {
  color: rgb(255, 255, 255);
  font-weight: 300;
  width:80%;
  margin: none;
  vertical-align: top;
  user-select: none;
}
.snippet-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: none;
  background-color: rgb(77, 77, 77);
}
.snippet-code {
  color: white;
  padding: 10px;
  margin: 0;
  width: 90%;
  max-width: 90%;
  font-size: 10px;
  box-sizing: border-box;
  text-align: left;
  white-space: pre-line;
  overflow-wrap: break-word;
}.snippet-code:hover {
  cursor:text;
}

.no-snippets-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10%;
  margin: 0;
  color: grey;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 300;
  user-select: none;
}
.import-button {
  margin: auto;
  margin-top: 10px;
}

.snippet-toolbar {
  padding: 10px;
  box-sizing: border-box;
  width: 10%;
  min-width: 10%;
}.snippet-toolbar {
  cursor: default;
}
/* Remove button */
.remove-snippet-button {
  height: 20px;
  width: 100%;
}.remove-snippet-button:hover {
  cursor: pointer;
}
.remove-snippet-button svg{
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
/* favorite button */
.favorite-button {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}.favorite-button:hover {
  cursor: pointer;
}
.favorite-button svg{
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
