button {
    height: fit-content;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);

    padding: 0px;

    font-family: Montserrat;
    font-weight: 300;
} button:hover {
    border-color: grey;
    color: grey;
}

.expand-button, .expand-button-active{
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
}
.expand-button svg, .expand-button-active svg {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
.expand-button-active svg {
    rotate: 180deg;
}

.toolbar-button {
    width: 85px;
    height: fit-content;

    padding: 5px;
    margin-right: 10px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-weight: 300;
}

.copy-button {
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
}
.copy-button svg {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}

#settings-button, #settings-button-active {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: none;
    padding: 0;
}
#settings-button svg{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    color: rgb(0, 0, 0);
}
#settings-button-active svg{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    transform: scale(0.9);
}
.normal-button {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    font-family: Montserrat;
    font-weight: 300;
}
/* Does not have its own component yet */
.close-button {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    border: none;
    font-family: Montserrat;
    font-weight: 600;
}

.toggle-button {
    display: flex;
    border-radius: 5px;
    border: solid 1px rgb(209, 209, 209);
    background-color: white;
    width: 70px;
    height: 25px;
    padding: 2px;
    margin: 10px;
    transition: 0.5s;
}

.toggle-button-inactive{
    justify-content: left;
    background-color: rgb(206, 206, 206);

}
.toggle-button-active{
    justify-content: right;
    background-color: rgb(186, 97, 97);
}
.toggle-button-ball {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}